.submitBtn {
  background-color: #1D2341;
  border: 0;
  box-shadow: 0px 4px 20px rgba(29, 35, 65, 0.1);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding: 8px 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

.submitBtn:hover,
.submitBtn:focus {
  color: white;
  background-color: #6f52ed;
  box-shadow: none;
  outline: 0;
}

.submitBtn:disabled {
  opacity: 0.5;
}